.flex-container {
  display: grid;
  height: fit-content;
  width: auto;
  grid-template-columns:  auto auto auto auto auto;
  overflow-y: hidden;
}

.flex-container-bottom {
  display: flex;
  flex-wrap: nowrap;
  
}



.flex-container > div {
  object-fit: cover;
  margin: 10px;
  text-align: center;
  height: fit-content;
  width: auto;
  font-size: 30px;
}
.smartphone .content {
  background-image: url("https://picsum.photos/640/1056");
  background-size: 100%
}

.fit{
  height: auto;
  width: 8vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#bottom{
  position:absolute;                  /* added */
  bottom:0;                           /* added */
  left:0;                           /* added */
}

