* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: Poppins;
}

body {
  width: 100%;
 
}



.navBar::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: #fff;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

pre{
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}



/* header */

header {
  margin: 10px 0 0px 10px;
}

header p {
  width: 60%;
  margin-top: 0px;
}

/* .work */


  w

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

display: inline-block;
}

/* footer */
footer p {
  text-align: center;
  color: grey;
  margin: 60px auto;
}



/* Responsiveness */

  .rounded:hover{   
    background: #093342;
    }