body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #f06060;
  margin: 0;
}
section {
	margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
	color: #fff;
}
section p {
	position: relative;
	margin: 0;
	padding: 1em;
	z-index: 1;
}
section p.text {
	font-size: 1.4em;
}

h1{
    font-size: 25pt;
}

/*Remove all the normal button stuff*/
.btn {
    width: 20%;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 0px;
	display: inline-block;
	margin: 15px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.btn {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}


.btn:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

@media only screen and (max-width: 1080px) {
    .btn{
		width: 60%;
	}
}

@media only screen and (max-width: 767px) {
    .btn{
		width: 90%;
	}
}